<div class="d-flex flex-column align-items-center">
  <h2 class="pt-4">Showing details of <%= @friend.first_name %> <%= @friend.last_name %></h2>
  <p>Age: <%= @friend.age %></p>
  <p>Email: <%= @friend.email %></p>
  <p>Phone: <%= @friend.phone %></p>
  <p>Twitter: <%= @friend.twitter %></p>

  <div class="d-flex ">
    <%= link_to "Edit Details", edit_friend_path(@friend), class:"btn btn-dark mx-2" %>
    <%= button_to "Delete this friend", @friend, method: :delete, class:"btn btn-danger mx-2" %>
  </div>
</div>
