<h1>Add a new Student</h1>

<%= form_with model:@student do |f| %>
<%= f.text_field :name, placeholder:"Enter your name" %>
<%= f.text_field :age, placeholder:"Enter your age" %>
<%= f.text_field :dept, placeholder:"Enter your Department" %>

<%= f.submit %>

<% end %>