
<%= render 'shared/errors', obj: @article %>

<%= form_with(model: article) do |form| %>
  <div class="mb-3">
    <%= form.label :title, style: "display: block", class:"form-label" %>
    <%= form.text_field :title, class:"form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :description, style: "display: block", class:"form-label" %>
    <%= form.text_area :description, class:"form-control" %>
  </div>

  <div class="mb-3">
    <%= form.submit class:"btn btn-primary" %>
  </div>
<% end %>
