<div class="d-flex flex-column align-items-center">

  <p style="color: green"><%= notice %></p>

  <%#= render @article %>
  <div>
    <p>
      <strong>Title: </strong>
      <%= @article.title %>  
    </p>
    <p>
      <strong>Description: </strong>
      <%= @article.description %> 
    </p>
    <p>
      <strong>Created at: </strong>
      <%= time_ago_in_words(@article.created_at) %>
       ago
    </p>
    <p>
      <strong>Last updated: </strong>
      <%= time_ago_in_words(@article.updated_at) %>
       ago
    </p>
    <div>
      <p>
        <strong>Created by: </strong>
        <td><%= link_to @article.user.username, @article.user %></td>
      </p>
      <%= gravatar_for @article.user, size: 80 %>
    </div>
  </div>


  <div class="d-flex justify-content-center gap-2 my-4">
    <%= link_to "<- Back to articles", articles_path, class:"btn btn-dark" %>
    <% if logged_in? && @article.user == current_user %>
      <%= link_to "Edit this article", edit_article_path(@article), class:"btn btn-primary" %>
      <%= button_to "Destroy this article", @article, method: :delete, class:"btn btn-danger" %>
    <%#= link_to "Destroy this article", article_path(@article), method: :delete, data: { confirm: "Are you sure?"} %>
    <% end %>
  </div>

</div>

<%= render 'layouts/footer' %>
